
.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 5;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  background-color: white;

}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 0 auto;
  padding-left: 20px;
}

.logo img {
  margin-right: 10px;
}

.logo span {
  color: MediumAquamarine;

}

.header nav {
  display: block;
  padding-right: 50px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;

}

a {
  color: black;
}

.main-content {
  display: flex;
  margin-top: 85px;
  padding-top: 40px;
  width: auto;

}

.column.large {
  width: 830px;
  flex: 1 3 auto;
}

.column.large .stories {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.column.large .story {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: flex-start;
  justify-content: space-between;
  margin: 60px 0 20px;
}


.column.medium {
  width: 500px;
  flex: 1 2 auto;
}

.column.medium .story {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;

}

.column.small {
  width: 340px;
  flex: 1 1 auto;
}

.column.small .story {
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: flex-start;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
}

.lead-story .img-content {
  height: 300px;
  background-image: url('../attachments/mainstory.png');
  background-color: lightblue;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 40px;
}

.catceo {
  display: flex;
  height: 300px;
  background-image: url('../attachments/catceo.png');
  background-color: lightblue;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.cookie {
  display: flex;
  background-image: url('../attachments/cookie.png');
  height: 300px;
  min-width: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: flex-end;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.fallseason {
  display: flex;
  height: 300px;
  background-image: url('../attachments/fallseason.png');
  background-color: lightblue;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 60px 0 0;
  text-align: center;
}

.cameraman {
  display: flex;
  height: 300px;
  background-image: url('../attachments/cameraman.png');
  background-color: lightblue;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 60px 0 0;
  text-align: center;
}


.img-content {
  color: white;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  padding-left: 5px;


}

.lead-story,.story {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.newsbiteslist {
  display: flex;
  flex-direction: column;
  margin: 20px 0 0;
}

.newsbiteslist p {
  background-color: whitesmoke;
  font-family: Verdana;
  font-size: 14px;
  color: dimgray;
  padding: 10px;
  margin: 0;
  border-bottom: 1px solid black;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 100%;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
}

.footer .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

}
.footer .text-content {
  display: flex;
  padding-right: 20px;
  margin-right: 10px;
  border-right: 2px solid white;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;

}

.footer nav {

}

.copyright {

}
