.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 5;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  background-color: white;

}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 0 auto;
  padding-left: 20px;
}

.logo img {
  margin-right: 10px;
}

.logo span {
  color: MediumAquamarine;

}

.header nav {
  display: block;
  padding-right: 50px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;

}

a {
  color: black;
}

.main-content {
  display: flex;
  margin-top: 85px;
  padding-top: 40px;
  width: 100%;
  height: 100%;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.large {
  width: 630px;
  margin-bottom: 30px;
}

.mainstory {
  display: flex;
  background-image: url('../attachments/mainstory.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  width: 630px;

}

.mainstory .headline {
  display: block;
  font-size: 40px;
  text-align: left;
  padding-left: 5px;
  width: 100%;
  height: 50%;
}

.fallseason {
  display: flex;
  background-image: url('../attachments/fallseason.png');
  height: 300px;
  width: 100%;
  justify-content: center;
}

.cameraman {
  display: flex;
  background-image: url('../attachments/cameraman.png');
  height: 300px;
  width: 100%;
  justify-content: center;
  margin-top: 20%;
}

.large .stories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.large .story {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 48%;
  margin-top: 20px;

}

.medium {
  width: 300px;
}

.medium .stories {
  width: 300px;
  display: block;
}

.medium .story {
  width: 300px;
  display: block;
  justify-content: space-between;
}

.catceo {
  display: flex;
  background-image: url('../attachments/catceo.png');
  height: 300px;
  justify-content: center;
}

.small {
  width: 240px;

}

.small .story {
  display: flex;
  flex-direction: column;
}

.small h2 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 35px;
  display: block;
}

.small p {
  display: block;
  background-color: whitesmoke;
  font-family: Verdana;
  font-size: 12px;
  color: dimgray;
  border-bottom: 1px solid black;
  margin: 0;
  padding: 10px;

}

.img-content {
  display: block;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.text-content {
  display: block;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
}

.footer .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

}

.footer .text-content {
  display: flex;
  padding-right: 20px;
  margin-right: 10px;
  border-right: 2px solid white;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;

}

.footer nav {

}

.copyright {

}
